<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<h3><b>Login in Fields</b></h3>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <h3><b>Personal Details</b></h3>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :nric %><br />
    <%= f.text_field :nric, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.text_field :date_of_birth, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :student_status %><br />
    <%= f.text_field :student_status, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :student_school %><br />
    <%= f.text_field :student_school, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :bank_name %><br />
    <%= f.text_field :bank_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :bank_account_number %><br />
    <%= f.text_field :bank_account_number, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :colored_hair_status %><br />
    <%= f.text_field :colored_hair_status, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :tattoo_status %><br />
    <%= f.text_field :tattoo_status, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
