<p id="notice"><%= notice %></p>

<h1>All Jobs</h1>

<div class="container">


<table class = "table table-hover">
  <thead>
    <tr>
      <th>Location</th> <br>
      <th>Date</th>
      <th>Day</th>
      <th>Start time</th>
      <th>End time</th>
      <th>No of slots</th>
      <th>Rate/hr</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>

    <% if job.completed == false %>
      <tr>
        <td><%= job.location %></td>
        <td><%= job.date %></td>
        <td><%= job.start_time.to_time.strftime("%a") %></td>
        <td><%= job.start_time.to_time.strftime("%H:%M %p") %></td>
        <td><%= job.end_time.to_time.strftime("%H:%M %p") %></td>
        <td><%= job.no_of_slots %></td>
        <td>$<%= job.rate_per_hour %></td>
        <td><%= job.completed %></td>
      <% if current_user.email == "desmondhengwj@gmail.com" %>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
      <!-- true -->
    <% end %>
    <% end %>
  </tbody>
</table>

</div>

<br>

<%= link_to 'New Job', new_job_path %>
